body {
    background-color: cadetblue;
}
header{
    border-radius: 200px;
}
.chef_img {
    height: 200px;
    width: 200px;
   
    background-size: cover;
    display: flex;
    align-self: end;
    margin: 20px;
}
.container {
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
}
#head {
    font-size: 50px;
    color: deepskyblue;
    padding: 30px;
}
.div_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}
#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link {
    list-style-type: none;
    margin: 0px 50px 0px 50px;
    font-size: 20px;
}
.father_list {
    display: flex;
}

.link a:hover {
    color: deepskyblue;
    text-decoration: underline;
    font-weight: bold;
}
header{
    background-color: black;
}
.footer_logo {
    height: 200px;
    width: 200px;
    background-size: cover;
    display: flex;
    align-self: end;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
}
a {
    color: white;
    font-size: 21px;
}

.footer_links {
    color: red;
}
footer {
    background-color: black;
}
#list{
    padding: 50px;
}
.list1 {
    margin: 0px 50px 0px 50px;
    font-size: 20px;
}
.list1 a:hover {
    color: deepskyblue;
    text-decoration: underline;
    font-weight: bold;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.social_img {
    transition: transform 0.3s ease;
}
/*עזרה מהצאט*/
.social_img:hover {
    transform: translateY(-10px) rotate(-3deg);
    box-shadow: 0 0 50px rgba(139, 0, 0, 0.8), inset 0 0 50px rgba(255, 0, 0, 0.15);
}
.social_img {
    width: 80px;
    display: block;
    border-radius: 20px;
}
#main_div {
    height: 100px;
}
.end_of_footer {
    font-size: 40px;
    color: deepskyblue;
    text-align: center;
    padding: 10px;
    background-color: black
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

main {
    flex: 1;
}

footer {
    padding: 20px;
    text-align: center;
}
